<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vibrationtracker.collector</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nevernothing/Developer/viberation tracker/venv/bin/python3</string>
        <string>/Users/nevernothing/Developer/viberation tracker/collector.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/nevernothing/Developer/viberation tracker</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/nevernothing/Developer/viberation tracker/data/collector.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nevernothing/Developer/viberation tracker/data/collector_error.log</string>
</dict>
</plist>
